<h1>Password Reset Instructions</h1>
<p>Hi <%= @user.username %>,</p>
<p>To reset your password, please click the link below:</p>
<p><%= link_to 'Reset Password', 'https://coffeejob.io' %></p>
<p>With the following token:</p>
<p><%= @token %>,</p>
<p>This link will expire in 2 hours.</p>