<p>Thank you for signing up to our service with email <%= @user.username %>!</p>
<p>We hope that Coffee Job will help you on your journey of landing your dream job!</p>
<p>To login, click <a href="<%= @url %>">here</a>.</p>